<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social - Atualização de senha</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
     

</head>

<body>
{{ template "cabecalho" }}
    <div class="div container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <h3>Atualização de senha</h3>
                <form id="atualizar-senha">
                    <div class="form-group">
                        <div class="form group">
                            <label for="senha-atual">Senha atual</label>
                            <input type="password" class="form-control" id="nome" name="nome"
                            placeholder="Insira seu nome" value="{{ .Nome }}" required="required">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>

</html>