<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social - Atualizar Publicação - {{ .Titulo }}</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" /> 
    <link href="/assets/css/login.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    {{ template "cabecalho" }}

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-12">
                <h3>Editar Publicação</h3>
                <div class="form-group"></div>
                <label for="titulo">Título</label>
                <input type="text" class="form-control" id="titulo", name="titulo"
                    placeholder="Insira o título da sua publicação" value=" {{ .Titulo }}"/>
            </div>
            
            <div class="form-group"></div>
            <label for="conteudo">Conteúdo</label>
            <textarea class="form-control" id="conteudo" name="conteudo">

            </textarea>
        </div>
    </div>

  </body>

  </html>