<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social - Login</title>
</head>

<body>
    <div class="container-login">
        <form class="Social-from" id="login">
            <span>Seja Bem Vindo ao SOCIAL!</span>
            <div>
                <input type="text" name="email" id="email" placeholder="Digite aqui o seu e-mail: " required="required">
            </div>

            <div>
                <input type="password" name="senha" id="senha" placeholder="Digite aqui a senha " required="required">
            </div>

            <a

        </form>
    </div>    
</body>
</html>