<!DOCTYPE html>
<html lang="pt-br">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Social - Usuários</title>
    <link href="/assets/css/bootstrap.css" rel="stylesheet" /> 
    <link href="/assets/css/login.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

<body>

    {{ template "cabecalho" }}

    <

    {{ template "rodape" }}
    {{ template "scripts" }}

</body>

  </html>