<div class="jumbotron"> 

    {{ if (eq .AutorID $.UsuarioID) }}
    <p>Botões curtir, editar e excluir</p>
    {{ else }}
    <p>Botão curtir</p>
    {{ end }} 
</div>

{{ define "cabecalho-publicaco" }}
    <h1 class="display-4">{{ .Titulo }}</h1>
    <p class="lead">{{ .Conteudo }}</p>
    <a href="#">{{ .AutorNick }} - {{ .CriadaEm.Format "02/01/2006 15:04:05" }}</a>
    <hr class="my-4">
{{ end }}

{{ define "publicacao-com-permissao" }}
{{ end }}


{{ define "publicacao-sem-permissao" }}
{{ end }}