{{ define "curtidas"}}
    <span> {{ .Curtidas}}</span>    
    <span class="material-symbols-outlined">
        favorite
        </span>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
{{ end }}


{{ define "editar"}}
    <a href="/editar">Editar Publicação</a>
{{ end }}


{{ define "deletar"}}
    <a href="/deletar">Deletar Publicação</a>
{{ end }}



{{ define "cabecalho-publicaco" }}
    <h1 class="display-4">{{ .Titulo }}</h1>
    <p class="lead">{{ .Conteudo }}</p>
    <a href="#">{{ .AutorNick }} - {{ .CriadaEm.Format "02/01/2006 15:04" }} </a>
    <hr class="my-4">
{{ end }}


{{ define "publicacao-com-permissao" }}
    <div class="jumbotron" data-publicaco-id="{{ .ID }}">
        {{ template "cabecalho-publicaco" . }}      
        <p>
            {{ template "curtidas" .}}
            {{ template "editar" }}
            {{ template "deletar" }}
        </p>
    </div>
{{ end }}


{{ define "publicacao-sem-permissao" }}
    <div class="jumbotron" data-publicaco-id="{{ .ID }}">
        {{ template "cabecalho-publicaco" .}}
        <p>
            {{ template "curtidas" .}}
        </p>
    </div>
{{ end }}